//This is my config file for scavenge, pointing towards my json (I hope)

# Configuration file

general {
    # Selects the files that are being loaded [default: ]
    S:LoadingFiles <
        breakout.json
     >

    # Selects the files that load into the NBTStorage [default: ]
    S:NBTFiles <
     >
    B:printDocumentation=false
    B:printDocumentationInCurseFormat=false
}


plugins {
    B:Forge=true
    B:Loot=true
    B:Player=true
    B:Score=true
    B:Utils=true
    B:World=true
}


